/bower_components/
/node_modules/
/.pulp-cache/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago

/src/**/*.purs
/test
/output/**/*
!/output/lib.js
/packages.dhall
/spago.dhall
/psakefile.ps1
/bower.json
/elm-license-checker-*.tgz
