/bower_components/
/node_modules/
/.pulp-cache/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago

/src/**/*.purs
/test
/output/cache-db.json
/output/**/externs.json
/packages.dhall
/spago.dhall
/psakefile.ps1
/bower.json
