name: test

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['18', '20', '22']

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - uses: JorelAli/setup-elm@v6
    - name: Cache nodejs
      uses: actions/cache@v4
      with:
        path: node_modules
        key: nodejs-${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('package.json') }}-${{ hashFiles('package-lock.json') }}
    - name: Cache elm
      uses: actions/cache@v4
      with:
        path: ~/.elm
        key: elm-${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('test-asset/elm.json') }}
    - name: Cache purescript
      uses: actions/cache@v4
      with:
        path: .spago
        key: purescript-${{ runner.os }}-${{ matrix.node-version }}-${{ hashFiles('spago.dhall') }}-${{ hashFiles('packages.dhall') }}
    - run: elm make
      working-directory: test-asset
      continue-on-error: true
    - run: make test-purs
    - run: make test-ts
